Repository gamedig/gamedig.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: github, issue_template, pull_request_template, workflow, dependabot, vitepress, config, theme, components, composables, styles, site_content, package, git, prettier, tsconfig, unoconfig

.github/labeler.yml:

# Workflow
github:
    - .github/**

issue_template:
    - .github/ISSUE_TEMPLATE/**

pull_request_template:
    - .github/PULL_REQUEST_TEMPLATE.md

workflow:
    - .github/workflows/**

dependabot:
    - .github/dependabot.yml
    - .github/workflows/dependabot-reviewer.yml

# Vitepress
vitepress:
    - .vitepress/**

config:
    - .vitepress/config/**

theme:
    - .vitepress/theme/**

components:
    - .vitepress/theme/components/**

composables:
    - .vitepress/theme/composables/**

styles:
    - .vitepress/theme/styles/**

# Site Content
site_content:
    - src/**

# Repo
package:
    - package.json
    - package-lock.json

git:
    - .gitignore
    - .gitattributes

prettier:
    - .prettierrc
    - .prettierignore

tsconfig:
    - tsconfig.json

unoconfig:
    - uno.config.ts

test: label
  .gitattributes
  .github/dependabot.yml
  .github/workflows/label.yml
  .prettierignore
  .vitepress/config/index.ts
  .vitepress/theme/components/HomePage.vue
  .vitepress/theme/composables/team.data.ts
  .vitepress/theme/styles/overrides.css
  src/code-of-conduct.md
  tsconfig.json
  uno.config.ts
Labels: github, workflow, dependabot, vitepress, config, theme, components, composables, styles, site_content, git, prettier, tsconfig, unoconfig

chore: add a security policy
  SECURITY.md
Labels: none

fix(workflow): dependabot message
  .github/workflows/dependabot-reviewer.yml
Labels: github, workflow, dependabot

chore: format
  SECURITY.md
Labels: none

chore: add empty readme file
  README.md
Labels: none

fix(homepage): remove actions bot
  .vitepress/theme/components/HomePage.vue
Labels: vitepress, theme, components

chore(giscus): add origin config
  giscus.json
Labels: none

chore(giscus): remove origin regex field
  giscus.json
Labels: none

impl: giscus
  .vitepress/theme/components/Comments.vue
  .vitepress/theme/components/Layout.vue
  README.md
  package-lock.json
  package.json
Labels: vitepress, theme, components, package

fix(comments): map via title
  .vitepress/theme/components/Comments.vue
Labels: vitepress, theme, components

fix(workflow): labeler v5 likes to randomly fail. back to v4 it is
  .github/workflows/label.yml
Labels: github, workflow
